<p><pre>{{ salt_cmd }}</pre></p>

{#<p>{% for k,i in salt_cmd.items %}#}
{#    <p>{{ k }}</p>#}
{#   <pre>{% for s,v in i.items %}  {{ s }}{{ v }}#}
{#    {% endfor %}#}
{#    </pre>#}
{#{% endfor %}#}
{#</p>#}