
<div class="alert alert-success alert-dismissable">
	 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<h4>
		{% if cmd_Advanced %}数据已保存完成{% else %}数据保存失败{% endif %}
	</h4>
</div>