<div class="alert alert-success alert-dismissable" style="margin-top:8px;">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
        警告!{{ salt_cmd }}
    </h4>
    <strong>Warning!</strong> 你在做什么了?请不要搞破坏
</div>