<div class="form-group">
{% if cmd_Advanced %}
<div class="alert alert-dismissable alert-info">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
        高级使用方法:
    </h4> <strong>例：</strong>search-nginx23@ip,注意，中间有一个@符，第一个表示主机名，第二个表示需要执行的命令
</div>
{% endif %}
{% if salt_cmd %}
    <div>
{% for k, v in cmd_run.items %}
<h3>{{ k }}</h3>
<pre>
{% for l, i  in  v.items %}
<span style="font-size:14px;font-weight:bold;">{{ l }}</span> : {{ i }}
{% endfor %}
</pre>
{% endfor %}
        </div>
    {% else %}
    未提交数据
    {% endif %}

</div>

