<div class="alert alert-dismissable alert-danger">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
        警告!
    </h4> <strong>Warning!</strong> 您没有此项目的权限，请找管理员添加相应权限
</div>