<div class="form-group">
<div>
<pre>{% for s,i in cmd_run.items %}{{ s }} : {{ i }}
{% endfor %}</pre>
{#{% for k, v in cmd_run.items %}#}
{#<h3>{{ k }}</h3>#}
{#<pre>#}
{#<span style="font-size:14px;font-weight:bold;">{{ k }}</span> : {{ v }}#}
{#</pre>#}
{#{% endfor %}#}
        </div>

</div>

