<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    <meta name="keywords" content="{{ keywords }}"/>
    <meta name="description" content="{{ description }}"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='/static/js/jscalendar/calendar.js'></script>
    <script type='text/javascript' src='/static/js/jscalendar/language.js'></script>
    <script type='text/javascript' src='/static/js/jscalendar/calendar-setup.js'></script>
    <link rel="stylesheet" type="text/css" media="all" href="/static/js/jscalendar/calendar-blue.css" />
</head>
<body>
<div class="container-fluid">
                        <h3>
                                {{ op_list.title }}
                <li>详细情况访问以下URL:</li>
                <li><a href="{{ url_path }}/op/list/{{ paramters.id }}" target="_blank" >{{ url_path }}/op/list/{{ paramters.id }}</a></li>
                        </h3>
                        <div class="hero-unit">
                <p>报障人：{{ paramters.user_name }}</p>
                <p>发现时间：{{ paramters.Discovery_date|safe }}</p>
                <p>发生时间：{{ paramters.Occur_date|safe }}</p>
                <p>解决时间：{% if paramters.Solve_date %}
                            {{ paramters.Solve_date|safe }}
                            {% endif %}
                </p>
                <h3>
                    <li style="color:#FD0301">故障说明：</li>
                </h3>
                                <p>
                                        {{ paramters.content|safe }}
                                </p>
                        </div>
                </div>
        </div>
</div>
{% include "op_bottom.html" %}