
<div class="clearfix"></div>
<div class="alert alert-dismissable alert-info">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
       保存失败
    </h4> <strong>保存配置失败!</strong>
</div>

