
<div class="clearfix"></div>
<div class="alert alert-dismissable alert-info">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
       保存成功
    </h4> <strong>配置文件已保存!</strong> 文件已写入库，是否生成配置文件并下发 <a href="/auto/setup/" class="alert-link">生成配置文件</a>
</div>

