{% extends 'config/base.html' %}
{% block content %}
<style>
    .col-sm-10 ul{list-style-type:none;line-height:33px;}
    .col-sm-10 li{float:left;margin-right:12px;text-align: left;}
    .col-sm-10 select  {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
</style>
{#{{ uf }}#}
<form class="form-horizontal"  method="POST" role="form" >
    {% csrf_token %}
    <div id="content-block" class="col-sm-11 col-md-5">
            <div class="form-group">
                 <label for="inputEmail3" class="col-sm-2 control-label">包名</label>
                <div class="col-sm-10">
                    <input class="form-control" id="sls_name" value="{{ sls_name.sls_name }}" type="text" name="sls_name" />
                </div>
            </div>
            <div class="form-group">
                 <label for="inputEmail3" class="col-sm-2 control-label">描述</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="id_sls_description" name="sls_description" >{{ sls_name.sls_description }}</textarea>
                </div>
            </div>
            <div class="form-group">
                 <label for="inputEmail3" class="col-sm-2 control-label"> </label>
                <div class="col-sm-10">
                        {% if sls_name.sls_conf == 0 %}
                        <input type="radio" name="sls_conf" value="1" > 需要配置文件</input>
                        <input type="radio" name="sls_conf" value="0" checked > 不需要</input>
                        {% else %}
                        <input type="radio" name="sls_conf" value="1" checked > 需要配置文件</input>
                        <input type="radio" name="sls_conf" value="0" > 不需要</input>
                        {% endif %}
                </div>
            </div>
            <div class="form-group">
                 <label for="inputEmail3" class="col-sm-2 control-label"> </label>
                <div class="col-sm-10">
                <div class="alert alert-success alert-dismissable">
                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>
                        提醒!
                    </h4> <strong>注意:</strong> 此处的选择直接决定该软件是否有配置文件<br>需要配置文件的服务如:nginx,lvs,haproxy或其它应用默认为不需要配置文件
                </div>
                 </div>
            </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                 <button type="submit" class="btn btn-success btn-block">保存</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}




