
<div class="clearfix"></div>
<div class="alert alert-dismissable alert-danger">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
       保存失败
    </h4> <strong>保存配置失败!</strong> 数据格式错误，请检查配置文件是否完全为yaml格式
</div>

