{% if add_return %}
<div class="alert alert-success alert-dismissable">
	 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<h4>
		{{ hostname }} 添加成功!
	</h4>

</div>
{% else %}
<div class="alert alert-success alert-danger">
	 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<h4>
		{{ hostname }} 添加失败!
	</h4>

</div>
{% endif %}