{% extends 'assets/base.html' %}
{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 填写主机基本信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">未启用 1</a>
                            </li>
                            <li><a href="#">未启用 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="panel blank-panel">
{#                        <div class="panel-options">#}
{#                            <ul class="nav nav-tabs">#}
{#                                <li><a href="/jasset/host_add/" class="text-center"><i class="fa fa-laptop"></i> 单台添加 </a></li>#}
{#                                <li class="active"><a href="/jasset/host_add_multi/" class="text-center"><i class="fa fa-bar-chart-o"></i> 批量添加 </a></li>#}
{#                            </ul>#}
{#                        </div>#}
                        <div class="panel-body">
                            <div id="tab-2" class="ibox float-e-margins tab-pane active">
                                {% if emg %}
                                    <div class="alert alert-warning text-center">{{ emg }}</div>
                                {% endif %}
                                {% if smg %}
                                    <div class="alert alert-success text-center">{{ smg }}</div>
                                {% endif %}
                                <p>请严格按照文本框内主机信息格式填写, 多台主机回车换行, 具体格式如下: </p>
                                <p class="text-info">
主机名@cpu@内存@硬盘@序列号@品牌型号@eth1@eth2@远程控制卡@所属机房@备注说明 </p>
                                    <form id="assetMulti" method="post" class="form-horizontal">
                                        {% csrf_token %}
                                        <div><textarea id="batch" name="batch" type="text" placeholder="OBD数据接收1(lbsnew1)@Intel® Xeon E5-2620v4 2.1GHz 8核@32G@300G*3@6CU625WRKA@HPE DL360G9  @172.16.20.120@172.16.20.120@172.16.20.120@新网@lbsnew服务器1" class="form-control" style="width:700px;height:500px">OBD数据接收1(lbsnew1)@Intel® Xeon E5-2620v4 2.1GHz 8核@32G@300G*3@6CU625WRKA@HPE DL360G9@172.16.20.120@ 172.16.20.120@172.16.20.120@新网@lbsnew服务器1</textarea></div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-4">
                                                <button class="btn btn-white" type="submit"> 重置 </button>
                                                <button class="btn btn-primary" type="submit"> 提交 </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}