{% extends 'assets/base.html' %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>IP列表 | IP List.</h2>
    </div>
    <div class="col-lg-2"></div>
</div>
<br/>
<div class="row wrapper">
    <form id="idc_form">
        {% csrf_token %}
        <div class="col-lg-6 col-lg-offset-4" style="padding-left: 0px">
            <label>
                <select name="idc_name" class="form-control m-b" onchange="change_idc()">
                    <option value="">选择机房</option>
                    {% for i in idcs %}
                        <option value="{{i.name}}"> {{ i.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                <select id="replace" name="network" class="form-control m-b">
                    <option value="all" class="text-center">选择网段</option>
                </select>
            </label>
           <button class="btn btn-primary" type="button" onclick="change_network(0)"> 提交 </button>
           <button class="btn btn-success" type="button" onclick="change_network(1)"> <span class="fa fa-refresh"></span> </button>
       </div>
    </form>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="network-replace" class="row">

    </div>
</div>

<script>
    function change_idc(){
        $.ajax({
            type: "GET",
            url: "/assets/ip_list_ajax/",
            data: $("#idc_form").serialize(),
            success: function (data) {
                $("#replace").html(data);
            }
        });
    }

    function change_network(fresh){
        var url = "/assets/ip_list_info/?fresh=" + fresh;
        $.ajax({
            type: "GET",
            url: url,
            data: $("#idc_form").serialize(),
            success: function (data) {
                $("#network-replace").html(data);
            }
        });
    }
</script>
{% endblock content %}






