{% include 'op_header.html' %}
<style>
.voilet_search{float:right;padding-right:100px;}
.pagination{float:right;padding-right:300px;}
</style>

    <div class="alert alert-error">
         <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>
            提示!
        </h4> <strong>警告!</strong> {{ id }}.
    </div>
<div class="voilet">
    <div class="voilet_search">
        <form class="form-search" method="get" action="/search/server/">
            <input class="input-medium search-query" type="text" name=search />
            <button class="btn" contenteditable="true" id = ip type="submit">查找</button>
        </form>
    </div>
</div>
{% load pagination_tags %}
{% autopaginate contacts 20 %}

			<table class="table"> <!-- <table class="table table-condensed"> -->
				<thead>
					<tr>
						<th>
							资产编号
						</th>
						<th>
							远控卡IP
						</th>
						<th>
							网卡1
						</th>
                        <th>
							网卡2
						</th>
                        <th>
							所属机房
						</th>
						<th>
							机柜位置
						</th>
						<th>
							cpu/内存/硬盘
						</th>
						<th>
							服务器型号
						</th>
                        <th>
							快速服务代码
						</th>
                        <th>
							业务
						</th>
                        {% if user != "" %}
                        <th>
							修改
						</th>
                        {% endif %}
					</tr>
				</thead>
				<tbody>
                {% for list in contacts%}
{#                {% for list in contacts.object_list %}#}
					<tr>
						<td>
							<a href="/server/list_id/{{ list.id }}">{{ list.Server_Asset_number|upper }}</a>
						</td>
						<td>
							{{ list.Server_Remote_control_card|upper }}
						</td>
						<td>
							{{ list.Server_eth1|upper }}
						</td>
                        <td>
							{{ list.Server_eth2|upper }}
						</td>
                        <td>
							<a href="/server/room_id/{{ list.Server_engine_room_id }}">{{ list.Server_engine_room|upper }}</a><!-- 所属机房-->
						</td>
						<td>
                            {% if list.Server_number_Location %}
							    <a href="/server/Location_id/{{ list.Server_number_Location_id }}">{{ list.Server_number_Location|upper }} 柜 {{ list.Server_cabinet_id }}</a>
                            {% endif %}
						</td>
						<td>
							{{ list.Server_Memory|upper }}
						</td>
						<td>
                            {% if list.Server_Model %}
							{{ list.Server_Model|upper }}
                            {% endif %}
						</td>
                        <td>
                            {{ list.Server_number_code|upper }}
                        </td>
                        <td>
                        {{ list.Server_Business}}
                        </td>
                        {% if user != "" %}
                        <td>
{#							<a href="/server/edit_id/{{ list.id }}" target=_blank onclick="return hs.htmlExpand(this, { objectType: 'iframe',width:1200,height:1200} )" id="goto" >修改</a>#}
                            <a href="/server/edit_id/{{ list.id }}" target="_blank">修改</a>
						</td>
                        {% endif %}
                    </tr>
                {% endfor %}
				</tbody>
			</table>
<!--分页-->
<div class="pagination">
    <span class="step-links">


        {% paginate %}


    </span>
</div>
<!-- 分页end -->
		</div>
	</div>
</div>

{% include 'op_bottom.html' %}