{% include 'op_header.html' %}
<form class="form-horizontal" method="post">
{{ room}}
    <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">提交</button>
                    </div>
                </div>
</form>
{% include 'op_bottom.html' %}