<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    <meta name="keywords" content="{{ keywords }}"/>
    <meta name="description" content="{{ description }}"/>
</head>
<body>



<form action="" method="POST">

<input type="checkbox" value="1" name="check_box_list"/>1

<input type="checkbox" value="2" name="check_box_list"/>2

<input type="checkbox" value="3" name="check_box_list"/>3

<input type="submit" value="提交"/>
</form>

{%   for i in emps %}
    {{ i }}
{% endfor %}



</body>
</html>