{% include 'default/header.html' %}
{% include 'default/assets_left.html' %}

<div id="content-block" class="col-sm-11 col-md-10">
    <pre>当前主机不在线，无法自动从主机抓取数据，如需修改数据请点修改按钮进行修改</pre>
</div>

{% include 'default/footer.html' %}





