{% extends 'assets/base.html' %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Zabbix信息列表 | List Zabbix.</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Zabbix信息列表 </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user"></ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">名称</th>
                            <th class="text-center">类别</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in records %}
                            <tr>
                                <td class="text-center">{{ i.name }}</td>
                                <td class="text-center">{{ i.type }}</td>
                                {% ifequal i.status 1 %}
                                    <td class="text-center text-info">{{ i.get_status_display }}</td>
                                {% else %}
                                    <td class="text-center text-danger">{{ i.get_status_display }}</td>
                                {% endifequal %}

                                <td class="text-center">{{ i.time|date:"Y-m-d H:i:s" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}





