{% extends 'default/base.html' %}

{% block content %}

    <style>
    .voilet{float:right;}
    .jumbotron{margin-top:10px;height:500px;}
    .wrapper{background:#ffffff;width:100%;}



    </style>

<div class="wrapper">
    <div class="row">
        <div class="ibox float-e-margins">
                    <div class="jumbotron" >
                        <h2>
                            欢迎使用saltstack集群管理系统
                        </h2>
                        <p>
                            <div class="alert alert-dismissable alert-danger">
                                <h4>
                                    警告!
                                </h4> <strong>Warning!</strong> 无此权限
                            </div>
                        </p>

                    </div>
        </div>
    </div>
</div>

{% endblock  %}

