{% extends 'default/base.html' %}
{% load bootstrap %}
{#{% load bootstrap3 %}#}


{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>code 仓库添加  </h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<style>
    .wrapper{margin-top:10px;}
    .wanghui{margin-top:10px;}
    #id_node li{
       list-style-type :none;line-height:25px;
    }
</style>
<div class="wrapper ibox-content">
    <div class="row">
        <div class="ibox float-e-margins">
            <div id="result" >
                <form id="from_data" role="form" action="" method="post">
                    {% csrf_token %}
                    {{ uf |bootstrap }}
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">保存</button>
                        <button class="btn" type="reset">重置</button>
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>


<!-- 右侧菜单栏控制 -->
<script type="text/javascript">


</script>
<script>

 $(function(){
     var three = document.location.pathname.split("/")[5];
        if (str == "default"){
            $("." + str).addClass('active');
        }
        $("." + three).addClass('active');

 });

</script>

{% endblock content %}