<div class="alert alert-dismissable alert-danger">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
        Alert!
    </h4> <strong>Warning!</strong>发布接口请求超时，请联系管理员
</div>

<script>
    $(document).ready(function(){
        $(".alert").delay(5000).hide(1000);
    });
</script>