{% extends 'default/base.html' %}
{% load bootstrap %}
{#{% load bootstrap3 %}#}


{% block content %}
{#<div class="row wrapper border-bottom white-bg page-heading">#}
{#    <div class="col-lg-10">#}
{#        <h2>发布日志  </h2>#}
{#    </div>#}
{#    <div class="col-lg-2">#}
{#    </div>#}
{#</div>#}
<style>
    .wrapper{margin-top:10px;}
    .wanghui{margin-top:10px;}
    #id_node li{
       list-style-type :none;line-height:25px;
    }
</style>
{#<div class="wrapper ibox-content">#}
{#    <div class="row">#}
{#        <div class="ibox float-e-margins">#}
{#            <div class="col-lg-12">#}
{#                <div class="ibox float-e-margins">#}
{#                    <div class="ibox-title">#}
{#                        <span class="label label-info pull-right">swan</span>#}
{#                        <h5>发布日志</h5>#}
{#                    </div>#}
{#                    <div class="ibox-content inspinia-timeline">#}
{#                        {% for i in log_data %}#}
{#                        <div class="timeline-item">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-3 date">#}
{#                                    <i class="fa fa-pied-piper-alt"></i>#}
{#                                    <small class="text-navy">{{ i.swan_datetime }}</small>#}
{#                                </div>#}
{#                                <div class="col-xs-7 content no-top-border">#}
{#                                    <p class="m-b-xs"><strong><span class="label label-danger">{{ i.username }}</span> </strong></p>#}
{#                                    <p>发布: {{ i.project_name }}</p>#}
{#                                    <p>{{ i.swan_name }} -> {{ i.module_name }}分支</p>#}
{#                                    <p>状态: {{ i.message }}</p>#}
{#                                    {% if i.update_log %}#}
{#                                    <p>更新内容: {{ i.update_log|linebreaksbr }}</p>#}
{#                                    {% endif %}#}
{#                                    <p>{{ i.swan_datetime }}</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="text-center float-e-margins p-md">
                    <a href="#" class="btn btn-xs btn-primary" id="leftVersion">发布日志排版方式</a>
                    </div>
                    <div class="ibox-content" id="ibox-content">

                        <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                            {% for i in log_data %}
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-user-md"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>{{ i.username }}</h2>
                                    <p>发布: {{ i.project_name }}</p>
                                    <p>{{ i.swan_name }} -> {{ i.module_name }}分支</p>
                                    <p>状态: {{ i.message }}</p>
                                    {% if i.update_log %}
                                    <p>更新内容: {{ i.update_log|linebreaksbr }}</p>
                                    {% endif %}
                                    <span class="vertical-date">
{#                                        Today <br/>#}
                                        <small>{{ i.swan_datetime }}</small>
                                    </span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>
    <script>
        $(document).ready(function(){
            $('#leftVersion').click(function(event) {
                event.preventDefault();
                $('#vertical-timeline').toggleClass('center-orientation');
            });


        });
    </script>

<!-- 右侧菜单栏控制 -->
{% endblock content %}