{% include 'default/header.html' %}
{% include 'default/assets_left.html' %}

<div id="content-block" class="col-sm-11 col-md-10">
    <pre>触发pxe失败哦亲</pre>
</div>

{% include 'default/footer.html' %}





