{% extends 'assets/base.html' %}
{% block content %}
<form class="form-horizontal"  method="post" role="form">
    {% csrf_token %}
   <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>
              待审核的虚拟列表：
            </th>
            <th>

            </th>

          </tr>
        </thead>
        <tbody>
            {% for one in approve_list %}
                <tr>
                    <th>
                        <label for="inputEmail3" class="col-md-10" >
                        <a class="fancybox fancybox.ajax" href="/assets/server/node_id/{{ one.id }}/">{{ one.node_name }}</a>
                        </label>
                    </th>
                    <th>
                    <input type="checkbox" name="approve_host" value="{{ one.id  }}">
                    </th>
            </tr>
            {% endfor %}
   </tbody>
   </table>

       <div class="col-sm-10">
            <div class="col-md-1">
                 <button type="submit" class="btn btn-danger">确认审批</button>
            </div>
            <div class="col-md-1">
                 <a href="" class="btn btn-success">取消</a>
            </div>
        </div>

</form>
{% endblock content %}





