{% extends 'default/base.html' %}
{% block left %}
    <div class="panel-group" id="panel-349889"><!--  panel panel-primary -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-290449">资产管理</a></h3>
            </div>
            <div id="panel-element-290449" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p><a href="/assets/server/add/" >添加真实机</a></p>
                    <p><a href="/assets/server/vm/" >申请虚拟机</a></p>
                    <p><a href="/assets/server/batch/" >批量添加资产</a></p>
                    <p><a href="/assets/server/" >服务器列表</a></p>
                    {% if "admin" in  request.user.department  %}
                        <p><a href="/assets/server/approve/" >待审核虚拟机</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-85212785">机房管理</a></h3>
            </div>
            {% if "/assets/server/room/" in  request.path  %}
                <div id="panel-element-85212785" class="panel-collapse collapse in">
            {% elif "/assets/server/room_list/" in  request.path %}
                    <div id="panel-element-85212785" class="panel-collapse collapse in">
            {% else %}
                        <div id="panel-element-85212785" class="panel-collapse collapse">
            {% endif %}
            <div class="panel-body">
                <p><a href="/assets/server/room/add/" >添加机房</a></p>
                <p><a href="/assets/server/room/list/" >机房列表</a></p>
            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-52457896">项目分类</a></h3>
                        </div>
                        {% if "/assets/server/server_type/" in  request.path  %}
                            <div id="panel-element-52457896" class="panel-collapse collapse in">
                        {% else %}
                                <div id="panel-element-52457896" class="panel-collapse collapse">
                        {% endif %}
                        <div class="panel-body">
                            {% for i in server_type %}
                                <p><a href="/assets/server/server_type/{{ i.id }}/" >{{ i }}</a></p>
                            {% endfor %}
                        </div>
                                </div>
                            </div>


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-564813221">项目管理</a></h3>
                                </div>
                                <div id="panel-element-564813221" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p><a href="/assets/server/type/list/" >项目列表</a></p>
{#                                        {{  request.user.department }}#}
                                        {% if  request.user.department_id == 1 or request.user.is_superuser == 1 %}
                                            <p><a href="/assets/server/type/add/" >添加项目</a></p>
                                            <p><a href="/assets/product/add/" >添加产品线</a></p>
                                            <p><a href="/assets/product/list/" >产品线列表</a></p>
                                        {% endif %}
                                    </div>
                                    <div class="panel-body">
                                        <p><a href="/assets/server/host_without_business/" > 未分配项目主机</a></p>
                                        <p><a href="/assets/server/edit/log/" > 操作日志</a></p>
                                    </div>
                                </div>
                            </div>

                    </div>
{% endblock %}

{% block content %}
{% endblock content %}
