<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>风行网运维平台 | 500 Error</title>

    <link href="/static/new/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/new/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/static/new/css/animate.css" rel="stylesheet">
    <link href="/static/new/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>Error</h1>
        <h3 class="font-bold text-danger">{{ message }}</h3>
        <h3 id="jumpTo" class="font-bold text-info"></h3>
        <div class="error-desc">
            The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>
            You can go back to main page: <br/><a href="/" class="btn btn-primary m-t">首页</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>
<script>
    function countDown(secs,surl){
         var jumpTo = document.getElementById('jumpTo');
         jumpTo.innerHTML= secs + '秒' + '后返回上一页';
         if(--secs>0){
             setTimeout("countDown("+secs+",'"+surl+"')",1000);
             }
         else{
             location.href=surl;
             }
         }
    countDown(5,document.referrer);
</script>
</html>

