{% include "default/header.html" %}
			<div class="row clearfix">
                {% include "default/index_left.html" %}
				{% include "default/index_right.html" %}
				
			</div>
		</div>
	</div>
{% include "default/footer.html" %}