<div class="panel-options">
    <ul class="nav nav-tabs">
        <li class="cmdb"><a href="/auth/cmdb/" class="text-center"><i class="fa fa-laptop"></i> 角色组 </a></li>
        <li class="swan_auth"><a href="/auth/swan_auth/push_auth/" class="text-center"><i class="fa fa-bar-chart-o"></i> 发布权限 </a></li>
        <li class="host"><a href="/auth/host/user_list/" class="text-center"><i class="glyphicon glyphicon-compressed"></i> 服务器授权 </a></li>
        <li style="float: right">
            <form id="search_form" method="get" action="" class="pull-right mail-search">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" id="search_input" name="keyword" placeholder="Search">
                    <input type="text" style="display: none">
                    <div class="input-group-btn">
                        <button id='search_btn' type="button" class="btn btn-sm btn-primary" onclick="log_search()">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>

<!-- 右侧菜单栏控制 -->
<script type="text/javascript">
    var three = document.location.pathname.split("/")[2];
    if (str == "swan"){
        $("." + str).addClass('active');
    }
         $("." + three).addClass('active');
</script>