<div class="wrapper">
    <div class="row">
        <div class="ibox float-e-margins">
                    <div class="jumbotron" >
                        <p>
                            <div class="alert alert-dismissable alert-danger">
                                <h4>
                                    警告!
                                </h4> <strong>Warning!</strong> 无此权限
                            </div>
                        </p>

                    </div>
        </div>
    </div>
</div>