<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                    <ul class="m-b-md ztree" id="treeDemo" style="padding: 0"></ul>
                <div class="clearfix"></div>
                <ul id="log" class="log"></ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script>
    select_all();
</script>
{% include "auth/new_ztree.html" %}

<style>
.jumbotron{margin-top:10px;}
{#.wrapper{background:#ffffff;width:100%;}#}

</style>
