{% extends 'autoinstall/base_bak.html' %}
{% block content %}
<style>
.setup_return{margin-top:8px;}
</style>
<pre>选择你需要推送的项目</pre>

    {% for i in user_business %}
         <a id="{{ i.id }}"  class="btn btn-primary btn-service">{{ i.service_name }}</a>
        {% empty %}
        <h3 ><span class="alert-danger label">你没有绑定任何项目，请联系管理员</span></h3>
    {% endfor %}

<div class="clearfix"></div>


    <div id="log_list">
    <p></p>
        <div class="alert alert-dismissable alert-success">
            <h4>
                点击需要推送的项目
            </h4> 会将saltstack所有配置文件下发,没有安装相应业务服务则会安装并初始化服务器并启动相应服务
        </div>
    </div>
<script type="text/javascript">
$(function(){
    $('.btn-service').click(function(){
        var id = $(this).attr('id');
        $('.btn-service').removeClass('btn-danger');
        $(this).addClass('btn-danger');
        $.get('/auto/setup_log/'+id+'/',function(data){
             $('#log_list').html(data);
        });
    })
});
</script>
{% endblock content %}
