{% extends 'autoinstall/base_bak.html' %}
{% block content %}
<div class="col-md-12 column">
     <div  id="salt_cmd">
        <div class="jumbotron" >
            <h2>
                欢迎使用saltstack集群管理系统
            </h2>
            <p>
                需谨慎操作，不清楚选项请不要随意执行，以免造成重大事故<br><br>
                运维部宣<br>
                2013年12月11日
            </p>

        </div>
    </div>
</div>
{% include "default/jquery.html" %}
{% endblock content %}


