<div class="alert alert-success alert-dismissable" style="margin-top:8px;">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
        警告!{{ salt_cmd }}
    </h4>
    <strong>Warning!</strong> 偶也是人，不是神哦，不知道你想执行什么
</div>