<style>
.biaozhu{color: red}
</style>
<pre>{% for i,k in content_data.items %}
<div class="biaozhu">
------------------------------------------------------------------------
    ************************************************************
------------------------------------------------------------------------
</div>
{{ k }}
{% endfor %}</pre>