<div class="form-group">
    {{ content }}
    <div id="log"></div>


</div>

{#<script type="text/javascript" charset="utf-8">#}
{#    function chlink() {#}
{#        url = "{% url 'highstate_redis' %}?jid={{ jid }}";#}
{#        $.get(url, function(data) {#}
{#        var data1 = data.toString();#}
{#        $("#log").html(data + new Date());#}
{#        })#}
{#    }#}
{##}
{#    $(function() {#}
{#        timeID = setInterval('chlink()', 2000); //注意:执行的函数需要加引号,否则会报错的#}
{#    });#}
{#</script>#}
