<form method="get" action="index.html" class="pull-right mail-search">
    <div class="input-group">
        <input type="text" class="form-control input-sm" name="search" placeholder="Search">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-sm btn-primary">
                Search
            </button>
        </div>
    </div>
</form>