{% extends 'default/base.html' %}
{% block content %}
<div class="col-md-12 column">
     <div  id="salt_cmd">
        <div class="jumbotron" >
            <h2>
                欢迎使用运维管理系统
            </h2>
            <p>
                <span style="color: #ecf8ff">您无权使用本功能，请不要尝试此操作</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}




