{% extends 'default/base.html' %}
{% block left %}

<div class="panel-group" id="panel-349889"><!--  panel panel-primary -->
    <div class="panel panel-default">
        <div class="panel-heading ">
             <h3 class="panel-title glyphicon glyphicon-pushpin"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-290449">用户管理</a></h3>
        </div>
        <div id="panel-element-290449" class="panel-collapse collapse in">
            <div class="panel-body">
                <p><a href="/accounts/adduser/" >添加用户</a></p>
                <p><a href="/accounts/user_list/" >用户列表</a></p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading ">
             <h3 class="panel-title"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-45612845">部门管理</a></h3>
        </div>
        <div id="panel-element-45612845" class="panel-collapse collapse in">
            <div class="panel-body">
                <p><a href="/accounts/add_department/" >添加部门</a></p>
                <p><a href="/accounts/list_department/" >部门列表</a></p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
             <h3 class="panel-title"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-45621859">日志审计记录</a></h3>
        </div>
        <div id="panel-element-45621859" class="panel-collapse collapse in">
            <div class="panel-body">
                <p><a href="/salt/logs/" >saltstack操作日志</a></p>
                <p><a href="/assets/server/edit/log/" >资产管理操作日志</a></p>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
{% endblock content %}
