{% extends 'default/base.html' %}
{% block content %}
{% load bootstrap %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>添加部门 | Add Department.</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div id="ibox-content" class="ibox-title">
                <h5> 填写部门详细信息 </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">未启用 1</a>
                        </li>
                        <li><a href="#">未启用 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content">
                <form class="form-horizontal" method="POST" role="form">{% csrf_token %}
                    <div class="form-group">
                         <label for="inputEmail3" class="col-sm-2 control-label">部门名称</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="id_department_name" type="text" name="department_name" maxlength="64" />
                        </div>
                    </div>
                    <div class="form-group">
                         <label for="inputEmail3" class="col-sm-2 control-label">部门介绍</label>
                        <div class="col-sm-10">
    {#						<input class="form-control" id="id_description" rows="10" name="description" />#}
                            <textarea id="id_description" rows="10" name="description" cols="73"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                       <div class="col-sm-4 col-sm-offset-5">
                           <button class="btn btn-white" type="submit"> 重置 </button>
                           <button class="btn btn-primary" type="submit"> 提交 </button>
                       </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
