{% include 'default/header.html' %}
{% include 'default/index_left.html' %}
<div class="col-md-10 column"><pre>添加帐户</pre></div>
<div class="col-md-4 column">
    <form class="form-horizontal" method="post" action="" role="form">{% csrf_token %}
        <div class="form-group">
             <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input class="form-control" id="id_username" type="text" name="username" />
            </div>
        </div>
        <div class="form-group">
             <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input class="form-control" id="id_password"  name="password" type="password" />
            </div>
        </div>
        <div class="form-group">
             <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
                <input class="form-control" id="id_first_name" type="text" name="first_name" />
            </div>
        </div>
        <div class="form-group">
             <label for="inputEmail3" class="col-sm-2 control-label">部门</label>
            <div class="col-sm-10">
                {{ form.department }}
            </div>
        </div>
        <div class="form-group">
             <label for="inputEmail3" class="col-sm-2 control-label">职位</label>
            <div class="col-sm-10">
                {{ form.jobs }}
            </div>
        </div>
        <input id="initial-id_date_joined" name="last_login" value="{{ data_time }}" type="hidden" />
        <input id="initial-id_last_login" name="date_joined" value="{{ data_time }}" type="hidden" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                 <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>

{#    {{ form }}#}
</div>
<div class="col-md-6 column"></div>
{% include 'default/footer.html' %}
<style>
    .col-sm-10 ul{list-style-type:none;line-height:33px;}
    .col-sm-10 li{float:left;margin-right:12px;text-align: left;}
    .col-sm-10 select  {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
</style>
