{% include 'script.html' %}
{% include 'link_css.html' %}

<!DOCTYPE html>
<html>

<head>



</head>

<body class="gray-bg">

<div class="lock-word animated fadeInDown">
</div>
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>
            <p>找回密码</p>
            <form class="m-t" role="form" method="post" action=""> {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" id="id_email" maxlength="32" name="email" placeholder="请填写邮箱地址" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width">提交</button>
            </form>
        </div>
    </div>

</body>

</html>

