{% extends "default/base.html" %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>修改密码 | Assets List.</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="ibox float-e-margins col-sm-6">
            <form class="form-horizontal" method="post" action="" role="form" autocomplete="off">{% csrf_token %}
                <div class="form-group">
                     <label for="inputPassword3" class="col-sm-2 control-label">旧密码</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="id_old_password" type="password" name="old_password" data-rule="原密码: required;password;"/>{{ form.old_password.errors }}
                    </div>
                </div>
                <div class="form-group">
                     <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="id_new_password1" type="password" name="new_password1" data-rule="密码: required;password;" />
                    </div>
                </div>
                <div class="form-group">
                     <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="id_new_password2" type="password" data-rule="确认密码: required;match(new_password1);" name="new_password2" />
                        {{ form.new_password2.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                         <button type="submit" class="btn btn-success btn-default btn-block">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .float-e-margins{margin-top:10px;}
    .col-sm-10 ul{list-style-type:none;line-height:33px;}
    .col-sm-10 li{float:left;margin-right:12px;text-align: left;}
    .col-sm-10 select  {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
</style>

{% endblock %}