{% include 'default/header.html' %}
{% include 'default/index_auth_left.html' %}
<div class="col-md-10 column">
    <pre>用户信息</pre>
<pre>
帐号:{{ user_list.username }}
姓名:{{ user_list.first_name }}
部门:{{ user_list.department }}
{#职位:{{ user_list.jobs }}#}
</pre>
</div>


{% include 'default/footer.html' %}
<style>
    .col-sm-10 ul{list-style-type:none;line-height:33px;}
    .col-sm-10 li{float:left;margin-right:12px;text-align: left;}
    .col-sm-10 select  {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
</style>
